@charset "UTF-8";
@import url("reset.css");
@import url("../fonts/iconfont.css");
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
body{
	font-size: .16rem;
	background: #808e9b;
}
body,html,.wrap{
	width:100%;
	height:100%;
	min-width: 320px;
	font-family: 微软雅黑;
}
button,input{
	background: none;
	border: none;
	outline: none;
}
.wrap{
	display: flex;
	flex-direction: column;
}
header{
	width:100%;
	flex-shrink: 0;
}

.head{
	width:100%;
	height:.5rem;
	background: #393a3e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:#fff;
	span:nth-child(1){
		width:.5rem;
		border-right:1px solid #000;
		text-align: center;
		align-items: center;
		i{
			color:#fff;
			font-size: .2rem;
		}
	}
	span:nth-child(2){
		flex-grow: 1;
		justify-content: flex-start;
		margin-left: .2rem;
	}
	span:nth-child(3){
		padding-right:.2rem;
		box-sizing: border-box;
		i{
			color:#fff;
			font-size: .2rem;
		}
	}
}

section{
	width:100%;
	flex-shrink: 1;
	flex: 1;
	overflow-y: hidden;
}

.main{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:.5rem .2rem;
	box-sizing: border-box;
}
.dialog{
	padding:.5rem .4rem;
	box-sizing: border-box;
	width:100%;
	background: #fff;
	border-radius: .1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	dl{
		width:1.5rem;
		img{
			width:100%;
		}
		dd{
			margin-top:.1rem;
			font-size: .18rem;
		}
	}
	p{
		margin-top:.2rem;
		width:100%;
		padding:.15rem;
		box-sizing: border-box;
		border-bottom: 2px solid #ccc;
		display: flex;
		align-items: center;
		img{
			width:.18rem;
			margin-right:.1rem;
		}
		input{
			padding:.05rem 0;
		}
		input::-webkit-input-placeholder{
			font-size: .18rem;
		}
	}
	p:last-child{
		width:100%;
		border:none;
		height:.5rem;
		background:#2fba77;
		border-radius: .1rem;
		input{
			width:100%;
			height:.4rem;
			color:#fff;
			font-size: .2rem;
			background:#2fba77;
			text-align: center;
		}
	}
}